@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat:wght@300;500&family=Quicksand:wght@500;600&family=Raleway:wght@300&family=Tiro+Bangla&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  flex: 0.5;
  display: flex;
  background-color: rgb(226, 255, 245);
  align-items: center;
  justify-content: center;
}

.box__box {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
}

.box__box div{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
